<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ur3_ros2_control" params="name prefix">

    <ros2_control name="${name}" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <controller_manager name="controller_manager">
            <param name="update_rate">100</param>
        </controller_manager>
    </ros2_control>

  </xacro:macro>

</robot>
